.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 15px;
  margin: 0 15px;

  .item {
    border-bottom: 2px solid var(--header-color);
    border-left: 1px solid var(--header-color);
    color: var(--main-color);
    max-width: 1100px;
    width: 100%;
    border-radius: 15px;
    margin: 15px 0;
    padding: 5px 15px;
    transition: border 0.3s;

    &__title {
      display: flex;
      justify-content: space-between;

      span {
        font-style: italic;
        margin-top: 5px;
      }

      a {
        text-decoration: none;
        color: var(--link-color);
        transition: color 0.3s;

        &:hover {
          color: var(--hover-color);
        }
        &:active {
          color: var(--main-color);
        }
        &:visited {
          color: var(--visited-link-color);
        }
      }

      h2 {
        font-size: 1.8em;
        margin: 5px 0 10px 5px;
      }
    }

    &__city {
      margin: 10px 0 5px 5px;
      font-size: 1.2em;
    }
  }

  .error {
    color: var(--error-color);
    font-size: 28px;
    margin-top: 25px;
  }
}
