.wrapper {
  background: var(--header-color);
  padding: 0 15px;
  transition: background 0.3s;

  .header {
    max-width: 1400px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
  }

  .logo {
    display: flex;
    align-items: center;

    &__text {
      font-family: 'Oleo Script', cursive;
      color: var(--hover-color);
      font-size: 42px;
      transition: color 0.5s;

      span {
        color: var(--link-color);
        transition: color 0.5s;
      }
    }

    &__img {
      width: 90px;
      height: 80px;
    }
  }

  .tagline {
    margin-left: 25px;
    color: var(--main-color);
    font-size: 18px;
    letter-spacing: 3px;
    transition: color 0.3s;
  }

  .auth {
    display: flex;
    color: var(--main-color);
    transition: color 0.3s;

    &__btn {
      font-size: 28px;
      cursor: pointer;
      transition: color 0.3s;

      &:hover {
        color: var(--hover-color);
      }
      &:active {
        color: var(--main-color);
      }
    }

    &__theme_btn {
      color: var(--visited-link-color);
      font-size: 20px;
      padding: 9px;
    }

    &__theme_active {
      color: var(--link-color);
    }

    &__bell {
      font-size: 28px;
      margin-right: 10px;
      transition: color 0.3s;
    }
    &__bell_on {
      color: var(--link-color);
      margin-right: 10px;
      transition: color 0.5s;
    }

    &__user {
      width: 20px;
      height: 20px;
      margin-left: 10px;
      transition: color 0.3s;

      &:hover {
        color: var(--hover-color);
        transition: color 0.5s;
      }
      &:active {
        color: var(--main-color);
        transition: color 0.5s;
      }
    }

    .switchWrapper {
      display: inline-block;
      margin-right: 15px;

      .switch {
        width: 80px;
        height: 28px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 1px solid var(--switch-border-color);
        border-radius: 15px;
        transition: border 0.3s;
      }
    }
  }
}
